<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <handlers>
            <add name="PythonCgi" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\a6a18\AppData\Local\Programs\Python\Python36\python.exe %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
